* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    overflow-y: scroll
}

body {
    width: 100%
}

.gallery-sizer,
.image-wrapper {
    width: 33%
}

.image-gallery {
    max-width: 1500px;
    display: block
}

.image-gallery .image-wrapper {
    float: left;
    padding: 3px
}

.image-gallery .image-wrapper .image {
    width: 100.1%;
    width: calc(100% + 1px);
    height: 100%
}

.image-gallery:after {
    content: "";
    display: block;
    clear: both
}

.caption {
    position: static;
    color: #aaa
}

.row {
    width: 100%;
    display: block;
    /* base definition */
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row .column,
.row .full-width,
.row .half-width,
.row .one-third-width,
.row .one-tenth-width,
.row .nine-tenth-width,
.row .two-third-width {
    float: left;
    display: block;
    box-sizing: border-box;
}

.row .full-width {
    width: 100%;
}

@media screen and (min-width: 600px) {
    .row .half-width {
        width: 48%;
    }
}

.row .one-third-width {
    width: 31.3333333%;
}

.row .one-tenth-width {
    width: 10%;
}

@media screen and (min-width: 600px) {
    .row .nine-tenth-width {
        width: 90%;
    }
}

@media screen and (min-width: 600px) {
    .row .two-third-width {
        width: 64.6666666%;
    }
}

@media screen and (min-width: 600px) {
    .row .left {
        margin-left: 0;
        margin-right: 2%;
    }

    .row .right {
        margin-left: 2%;
        margin-right: 0;
    }
}