# Site gen
_site
.sass-cache
.jekyll-metadata

# Python
*.pyc
__pycache__
# Notebooks
*.ipynb_checkpoints*
# Mypy
.mypy_cache/
# bundle configuration
.bundle
# vim
*.sw*
# mac
.DS_Store
# preprocessed images for galleries
images/photography/**/originals/