<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- <script src="/assets/js/bootstrap.bundle.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
<script src="/assets/js/input_exapand_collapse.js"></script>
<script src="/assets/js/code_block_modifier.js"></script>
<!-- only load mermaid if a post actually use it -->
{% if page.mermaid %}
<script src="https://unpkg.com/mermaid@10.8.0/dist/mermaid.min.js"></script>
<script>
  $(document).ready(function () {
    mermaid.initialize({
      startOnLoad:true,
      theme: "dark",
    });
    window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
  });
</script>
{% endif %}
<!-- only load mathjax if a post actually use it -->
{% if page.mathjax %}
	{% include mathjax.html %}
{% endif %}