<div id="image-gallery{% if include.id_number %}-{{ include.id_number }}{% endif %}" class="image-gallery">
  <div id="gallery-sizer{% if include.id_number %}-{{ include.id_number }}{% endif %}" class="gallery-sizer"></div>
  {% for picture in include.gallery.pictures %}
  <div class="image-wrapper">
    <a href="{{ site.asset_dir }}/images/photography/{{ include.gallery.picture_path }}/{{ picture.original }}"
    data-responsive="{% for size in picture.sizes %} {{ site.asset_dir }}/images/photography/{{ include.gallery.picture_path }}/{{ size }} {{ size | split: '-' | last | split: '.' | first | split: 'x' | first | strip }}{% unless forloop.last %},{% endunless %}{% endfor %}" class="image" {% if picture.title %} data-sub-html="<div class='caption'><h4>{{ picture.title | escape }}</h4>{% if picture.caption %}<p>{{ picture.caption | escape }}</p>{% endif %}</div>"{% endif %}>
      <img class="rounded-3" alt="{{ picture.title }}" src="{{ site.asset_dir }}/images/photography/{{ include.gallery.picture_path }}/{{ picture.thumbnail }}" />
    </a>
  </div>
  {% endfor %}
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  var galleryId = 'image-gallery{% if include.id_number %}-{{ include.id_number }}{% endif %}';
  var galleryElement = document.getElementById(galleryId);
  if (galleryElement) {
    lightGallery(galleryElement, {
      selector: '.image',
      plugins: [lgRotate, lgShare, lgThumbnail, lgZoom],
    });
  }

  // init isotope
  var gridId = '#image-gallery{% if include.id_number %}-{{ include.id_number }}{% endif %}';
  var sizerId = '#gallery-sizer{% if include.id_number %}-{{ include.id_number }}{% endif %}';

  var $grid = $(gridId).isotope({
    percentPosition: true,
    columnWidth: sizerId,
    itemSelector: '.image-wrapper',
    layoutMode: "masonry",
    isFitWidth: true
  });

  // layout Isotope after each image loads
  $grid.imagesLoaded().progress(function() {
    $grid.masonry();
  });
});
</script>
