<head>
	<!-- Google Analytics -->
	{% include analytics.html %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<!-- viewport for MathJax on mobile-->
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
	{% include meta.html %}
	<!-- favicon -->
	{% include favicons.html %}

	<!-- Bootstrap core CSS -->
	<!-- <link href="/assets/css/bootstrap.min.css" rel="stylesheet"> -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
	<html data-bs-theme="dark">

	</html>
	<!-- Custom styles for this template -->
	<link href="/assets/css/notebook.min.css" rel="stylesheet">
	<link href="/assets/css/main.min.css" rel="stylesheet">
	<link href="/assets/css/syntax.min.css" rel="stylesheet">
	<link href="/assets/css/fontawesome-all.min.css" rel="stylesheet">
	{% if page.support contains 'jquery' %}
	<link rel="stylesheet" href="/assets/css/gallery.min.css" />
	{% endif %}

	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

	<!-- jQuery in header because of Bokeh -->
	<!-- <script src="/assets/js/jquery-3.7.1.min.js"></script> -->
	<script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>

	{% if page.support contains 'gallery' %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.9.0/js/lightgallery-all.min.js"></script>
	<link rel="stylesheet" id="lg" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.9.0/css/lightgallery.min.css" />
	<style>
		.lg-outer {
		  background-color: #222529;
		}
		.lg-sub-html {
		  background-color: rgba(34, 37, 41, 0.7);
		}
	</style>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.0/isotope.pkgd.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.2/picturefill.min.js"></script>
	<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.0/imagesloaded.pkgd.min.js"></script>
	{% endif %}
</head>