<span class="share-buttons">
<ul class="share-buttons">
  <li><a href="https://twitter.com/intent/tweet?source={{ site.url }}{{ page.url }}&text={{ page.title | url_encode }}%20{{ site.url }}{{ page.url }}%20via%20@{{ site.twitter_username }}" target="_blank" title="Tweet"><span class="fab fa-twitter-square fa-3x"></span></a></li>

  <li><a href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title | url_encode }}" target="_blank" title="Submit to Reddit"><span class="fab fa-reddit-square fa-3x"></span></a></li>

  <li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title | url_encode }}&source={{ site.url }}{{ page.url }}" target="_blank" title="Share on LinkedIn"><span class="fab fa-linkedin fa-3x"></span></a></li>

  <li><a href="mailto:?subject={{ page.title }}&amp;body={{ site.url }}{{ page.url }}" target="_blank" title="Share by Email"><span class="fas fa-envelope-square  fa-3x"></span></a></li>
 </ul>
</span>
