---
layout: default_container
title: Photo galleries
description: Here are some of my personal favorite photos. I hope these beautiful scenes can bring something positive to you. Click on the photos to check out each gallery.
permalink: /photography/
support: [jquery]
---

<h1><i class="fa-solid fa-panorama"></i>&nbsp;{{ page.title }}</h1>

<p>{{ page.description }}</p>
<!-- total number of galleries -->
{% assign galleries = site.data.galleries.overview %}
<div class="row d-flex justify-content-start">
  <!-- left column-->
  <div class="col-md-6" style="padding-right:6px;">
    {% for gallery in galleries %}
      {% assign parity = forloop.index0 | modulo: 2 %}
      {% if parity == 0 %}
        {% assign pic_dir = gallery.picture_path | default: gallery.directory %}
        <div class="container" style="padding:0;">
          <h2>{{ gallery.title }}</h2>
          <a href="{{ '/photography/' | append: gallery.directory | append: '/index.html' | relative_url }}">
            <img class="rounded-3 mt-3" alt="{{ gallery.title }}" src="{{ site.assets.images }}/photography/{{ pic_dir }}/{{ gallery.preview.thumbnail }}" />
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <!-- right column-->
  <div class="col-md-6" style="padding-left:6px;">
    {% for gallery in galleries %}
      {% assign parity = forloop.index0 | modulo: 2 %}
      {% if parity == 1 %}
        {% assign pic_dir = gallery.picture_path | default: gallery.directory %}
        <div class="container" style="padding:0;">
          <h2>{{ gallery.title }}</h2>
          <a href="{{ '/photography/' | append: gallery.directory | append: '/index.html' | relative_url }}">
            <img class="rounded-3 mt-3" alt="{{ gallery.title }}" src="{{ site.assets.images }}/photography/{{ pic_dir }}/{{ gallery.preview.thumbnail }}" />
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
<br>
<hr>
{% include comment_box_github.html %}