* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    overflow-y: scroll
}

.gallery-row .full-width, body {
    width: 100%
}

.gallery-sizer, .image-wrapper {
    width: 33%
}

.image-gallery {
    max-width: 1500px;
    display: block
}

.image-gallery .image-wrapper {
    float: left;
    padding: 3px
}

.image-gallery .image-wrapper .image {
    width: 100.1%;
    width: calc(100% + 1px);
    height: 100%
}

.image-gallery:after {
    content: "";
    display: block;
    clear: both
}

.caption {
    position: static;
    color: #aaa
}

.gallery-row {
    width: 100%;
    display: block
}

.gallery-row:after {
    content: "";
    display: table;
    clear: both
}

.gallery-row .column, .gallery-row .full-width, .gallery-row .half-width, .gallery-row .nine-tenth-width, .gallery-row .one-tenth-width, .gallery-row .one-third-width, .gallery-row .two-third-width {
    float: left;
    display: block;
    box-sizing: border-box
}

.gallery-row .one-third-width {
    width: 31.3333333%
}

.gallery-row .one-tenth-width {
    width: 10%
}

@media screen and (min-width:600px) {
    .gallery-row .half-width {
        width: 48%
    }

    .gallery-row .nine-tenth-width {
        width: 90%
    }

    .gallery-row .two-third-width {
        width: 64.6666666%
    }

    .gallery-row .left {
        margin-left: 0;
        margin-right: 1%
    }

    .gallery-row .right {
        margin-left: 1%;
        margin-right: 0
    }
}